.site-header {
  display: inline-block;
  float: left;
  width: 100%;
  padding: $padding-xsmall ($padding-small * 2);

  .site-brand {
    float: left;

    .site-title {
      font-weight: bold;
      font-size: 1.4em;
      line-height: 1.5;
    }
  }

  .site-nav {
    ul {
      list-style: none;
      line-height: 2;
      text-align: right;
      float: right;
    }
    li {
      display: inline;
      float: left;
      margin-right: 0.75em;
    }
  }
}

.wrapper {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 0 ($padding-small * 2);
}

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: left;
  margin: -.5em 2em 0 0;
}
