// Colors
$white: #fff;
$red: #C62828;
$grey: #888;

$background-color: $white;

// Typography
$text-color: #383838;
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.2em;

// Spacing
$padding-small: 5%;
$padding-xsmall: 3%;

// Links
$link-color: $red;

// Posts
$post-meta-text-color: $grey;
